lidar_1:
  port: {{deployments["one"].dataPort+2}}
  interface: {{deployments["one"].interface}}
  state: {{deployments["one"].state}}
  city: {{deployments["one"].city}}
  street: {{deployments["one"].street}}
  crossstreet: {{deployments["one"].crossStreet}}
  corner: {{deployments["one"].corner}}
lidar_2:
  port: {{deployments["two"].dataPort+2}}
  interface: {{deployments["two"].interface}}
  state: {{deployments["two"].state}}
  city: {{deployments["two"].city}}
  street: {{deployments["two"].street}}
  crossstreet: {{deployments["two"].crossStreet}}
  corner: {{deployments["two"].corner}}