{% for index in ["one","two"] %}
{{deployments[index].id }}:
  port: {{deployments[index].dataPort}}
  interface: {{deployments[index].interface}}
  state: {{deployments[index].state}}
  city: {{deployments[index].city}}
  street: {{deployments[index].street}}
  crossstreet: {{deployments[index].crossStreet}}
  corner: {{deployments[index].corner}}
  site_id: {{deployments[index].siteId}}
  deployment_id: {{deployments[index].deploymentId}}
  lidar_id: {{deployments[index].id }}
{% endfor %}