version: "{{composeVersion}}"
services:
{% for deployment in deployments %}
    pcap{{ deployment.id }}:
        image: {{pcapCaptureImage}} #ncar-da-0.rc.unr.edu/pcapcapture
        #build: ./pcap-processing/pcap
        network_mode: "host"
        volumes:
            - ./data:/data
        environment:
        - INTERFACE=enp2s0
        - MIN=3600 # listen to this interface for a default of 60 seconds
        - IP={{deployment.ip}} #192.168.1.11
        - STATE=Nevada
        - CITY=Reno
        - STREET=Virgina
        - CROSSSTREET={{deployment.crossStreet}} #15th
        - CORNER={{deployment.corner}} #SE
        - SENSORID={{deployment.id}} # int
        - SENSORMODEL={{deployment.model}} #VLP-16
        - SITEID={{deployment.siteId}} #0
        - DEPLOYMENTID={{deployment.deploymentId}} #0,1

    pcl{{ deployment.id }}:
        image: {{pclProcessingImage}} #ncar-da-0.rc.unr.edu/pclmqttserve
        #build: ./pcap-processing/pcl
        network_mode: "host"
        restart: always
        environment:
        - PCL_IP={{deployment.ip}} #192.168.1.11
        - PCL_PORT={{deployment.dataPort}}
        - PCL_CONFIG={{deployment.lidarConfig}} #/velodyne/build/VLP-16.xml -- this is stored in the docker container TODO: Need to make stored elsewhere!?
        - MQTT_TOPIC={{deployment.mqtttopic}} #test
        #- PCAP_FILE=/data/test/test.pcap
        volumes:
            - ./data:/data
        #deploy:
        #  resources: 
        #     limits:
        #       memory: 300M
        #     reservations:
        #       memory: 30M
{% endfor %}

