mqttclient:
  ros__parameters:
    broker:
      host: 134.197.75.31
      port: 30041
    bridge:
      ros2mqtt:
        ros_topics: 
{% for index in ["one","two"] %}
          - {{deployments[index].rostopic}}/velodyne_points
{% endfor %}
{% for index in ["one","two"] %}
        {{deployments[index].rostopic}}/velodyne_points:
          mqtt_topic: {{deployments[index].rostopic}}/velodyne_points
{% endfor %}